---
layout: page
title: Experience
description: 
permalink: /experience/
nav_style: hero
intro: These amazing places are where I've built my chops. From multi-billion dollar government projects to developing products for stealth startups, it continues to be an opportunity for which I am grateful. Below you will find some of the corporations and organizations I've been a part of and a highlight of what I did while there.
history:
  - image: orgs/localvore.png
    label: Localvore
    url: https://www.localvore.co/
    description: |
      Originally served as a consultant to guide for Localvore's Elixir adoption. I was hired full-time as the technical lead to ensure on-time product launch. I consistently delivered features on time to meet milestones put forth by leadership and investment team. Worked directly with company founders to re-prioritize product roadmap enabling team to hit key product and growth milestones. Led the charge on reducing codebase complexity and reliance on external services, resulting in a significant monthly savings of time and money.
  - image: orgs/wombat.png
    label: Wombat Security
    url: https://www.wombatsecurity.com/
    description: |
      I was recruited by Wombat Security to assist in the merger of their systems and teams with newly acquired ThreatSim. During this time I established processes and best practices to improve code quality with measurable reduction in bugs. Additionally I oversaw the onboarding and training a group of Turing School graduates based in Denver.

      Wombat Security was acquired by Proofpoint Security in 2018.
  - image: orgs/wexus.png
    url: https://www.wexusapp.com/
  - image: orgs/liftopia.png
    label: Liftopia
    url: https://www.liftopia.com/
    description: |
      Hired to provide technical expertise for platform modernization initiatives including the transition to a service-oriented architecture Instrumental in improving code quality and test coverage while establishing team wide best practices. Responsible for recruiting and hiring key engineers, doubling team size. Designed and developed a PCI compliant payment system with multiple currencies and gateway redundancy.
  - image: orgs/tapjoy.png
    url: https://www.tapjoy.com/
  - image: orgs/redhat.png
    url: https://www.redhat.com/
  - image: orgs/bah.png
    url: https://www.boozallen.com/
  - image: orgs/bearing_point.png
    url: https://www.bearingpoint.com/
  - image: orgs/berkner_group.png
    label: Berkner Group
    url: https://berknergroup.com/
    description: |
      The Berkner Group offers consultative, strategic approach to executive and technical search. As part of my work I am responsible for reviewing and interviewing potential candidates before they are placed. 

---
{% include header-with-intro.html intro=page.intro %}
<section class="section">
  <div class="container">
    <div class="column is-8 is-offset-2">
      <ul class="listing">
        {% for job in page.history %}
          {% capture orientation %}{% cycle 'left', 'right' %}{% endcapture %}
          {% capture jobimage %} 
            <div class="column is-4 has-text-centered">
              {%- capture label -%}
              {%- if job.label -%}{{ job.label }}{% else %}not-provided{%- endif -%}
              {%- endcapture -%}
              <a href="{{ job.url }}">{% asset '{{ job.image }}' alt="{{ label }}" class="img" %}</a>
            </div>
          {% endcapture %}
          {% capture jobsummary %}
            <div class="column is-8">
              {% capture desc %}
              {% if job.description %}{{ job.description }}{% else %}A description to come{%- endif -%}
              {% endcapture %}
              <p class="summary{% if orientation == 'right'%} has-text-right{% endif %}">{{desc}}</p>
            </div>
          {% endcapture %}
          <li>
            <div class="columns">
              {% if orientation == 'left' %}
                {{jobimage}}
                {{jobsummary}}
              {% else %}
                {{jobsummary}}
                {{jobimage}}
              {% endif %}
            </div>
            
          </li>
        {% endfor %}  
      </ul>
    </div>    
  </div>
</section>
